.sidebareRow{
    display: flex;
    align-items: center;
    padding:3px;
    cursor: pointer;
}
.sidebareRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebareRow > h4{
    margin-left: 20px;
    font-weight: 600;
}
.sidebareRow > .MuiSvgIcon-root{
    font-size: xx-large;
    color: #2e81f4;
}